<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.charles_nfc">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.nfc" />

    <application
        android:allowBackup="true"
        android:background="@android:color/white"
        android:icon="@mipmap/ic_launcher"
        android:label="scancart v2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Charles_nfc">
        <activity
            android:name=".TestCart"
            android:exported="false"
            android:label="@string/title_activity_test_shopping_cart"
            android:theme="@style/Theme.Charles_nfc.NoActionBar" />

        <activity android:name=".Shop"/>
        <activity android:name=".FragmentActivity"/>
        <activity android:name=".Cart" android:exported="true"/>
        <activity android:name=".Checkout" android:parentActivityName=".Cart" android:label="@string/checkout_label"> </activity>
        <activity android:name=".SelectTiming" android:parentActivityName=".Checkout" android:label="@string/select_timing_label"> </activity>
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>